*{
    margin: 0;
    padding: 0;
}
body {
background-color:rgb(248, 241, 250) ;
}
.item{
    width: 370px;
    height: 100px;
    background-color: deeppink;
    color:antiquewhite;
    margin: 10px;
}
.conteudo{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    
}
.barra{
    background-color: rgb(174, 6, 252);
    height: 20vh;
    grid-area: barra;
}
.principal{
    background-color: rgb(123, 4, 192);
    height: 60vh;
    grid-area: principal;
}
.lado{
    background-color: rgb(87, 6, 134);
    height: 60vh;
    grid-area: lado
}
.rodape{
    background-color: rgb(178, 141, 187);
    height: 20vh;
    grid-area: rodape;
}
.meu-site {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: 
                    "barra barra"
                    "lado principal"
                    "rodape rodape";

}
